alembic==1.7.3
aniso8601==9.0.1
attrs==21.2.0
cffi==1.14.6
click==8.0.1
coverage==6.1.1
cryptography==35.0.0
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
importlib-resources==5.2.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
packaging==21.2
pluggy==1.0.0
py==1.10.0
pycparser==2.20
PyJWT==2.2.0
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.5
python-dotenv==0.19.0
pytz==2021.1
simplejson==3.17.5
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
watchdog==2.1.5
Werkzeug==2.0.1
zipp==3.5.0
